In [1]:
print('Hello')

Hello

In [ ]:
print()

In [3]:
1+1

2

In [4]:
1+e

NameError: name 'e' is not defined

In [5]:
e = 10

In [6]:
1+e

11

In [7]:
e = 'Naveen'

In [8]:
e

'Naveen'

In [9]:
print(1.0)

1.0

In [10]:
'2427@%&^*Nahdjsk'

'2427@%&^*Nahdjsk'

In [11]:
1>0.5

True

In [12]:
2<1

False

In [13]:
1 in [1,2,3,4]

True

In [15]:
list = [1, 'Naveen']

In [16]:
print(list)

[1, 'Naveen']

In [19]:
a = (1, "name")

In [23]:
s = {1,2,3,2}
print(s)

{1, 2, 3}

In [24]:
s = [1,2,3,2]
print(s)

[1, 2, 3, 2]

In [37]:
list_1 = ['zero','one', 'two', 'three', 'four']

In [32]:
list_1[-2]

'three'

In [38]:
list_1

['zero', 'one', 'two', 'three', 'four']

In [39]:
list_1[0:3]

['zero', 'one', 'two']

### 0:3 -> Give me 0 to 3 excluding 3

In [40]:
list_2 = [1,2,3,4,5]

In [45]:
a = list_2[0:3]

In [50]:
list_2[1:]

[2, 3, 4, 5]

In [51]:
list_2.append(6)

In [52]:
list_2

[1, 2, 3, 4, 5, 6]

In [53]:
list_2.pop()

6

In [54]:
list_2

[1, 2, 3, 4, 5]

In [55]:
nest = [1,2,3,4,[75, 76, 78]]

In [64]:
nest[4][1:3]

[76, 78]

In [65]:
nest = [1,2,3,[4,5,['target']]]

In [71]:
nest[3][2][0]

'target'

In [72]:
print('Naveen')

Naveen

In [74]:
name = 'Naveen'

In [79]:
tuple1 = (1,2,3,4)

In [82]:
tuple1[0] = 2

TypeError: 'tuple' object does not support item assignment

In [83]:
list1 = [1,2,3,4,5]

In [85]:
list1[0] = 6

In [88]:
list1[0] = 1

In [89]:
list1

[1, 2, 3, 4, 5]

In [94]:
set1 = {1,2,4,3,4,4}

In [1]:
d = {'key1':'item1','key2':'item2'}

In [3]:
d['key1']

'item1'

In [4]:
d.keys()

dict_keys(['key1', 'key2'])

In [5]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [32]:
import pandas as pd

In [33]:
data = pd.DataFrame({'Name':['a','b','c','d','e'],'Age':[1,2,3,4,5], 'Key2':[9,8,7,6,5]})

In [34]:
data

  Name  Age  Key2
0    a    1     9
1    b    2     8
2    c    3     7
3    d    4     6
4    e    5     5

In [13]:
len(data['Age'])

5

In [14]:
for i in range(len(data['Age'])):
    print(data.iloc[i]['Name'])

a
b
c
d
e

In [14]:
name = {'Name':['a','b','c','d','e'],'Age':[1,2,3,4,5], 'Key2':[9,8,7,6,5]}

In [15]:
name.keys()

dict_keys(['Name', 'Age', 'Key2'])

In [16]:
name.items()

dict_items([('Name', ['a', 'b', 'c', 'd', 'e']), ('Age', [1, 2, 3, 4, 5]), ('Key2', [9, 8, 7, 6, 5])])

In [17]:
3>5

False

In [18]:
a = 5

In [19]:
a

5

In [20]:
a == 5

True

In [22]:
7 != 8

True

In [24]:
7 >= 7

True

In [26]:
'hi' > 'hello'

True

In [28]:
6 in [1,2,3,4,5]

False

In [2]:
a = [1,3,45,2334,[75959,64848,98499,[56,67,89,{'Target':'Answer'},56]]]

In [6]:
a[4][3][3]['Target']

'Answer'

In [41]:
def multiply_simple(x):
    return x*3

In [8]:
multiply_simple(8)

16

In [1]:
def multiply(y):
    product = y*8
    return print(product)

In [5]:
multiply(7)

56

In [6]:
multiply('name')

namenamenamenamenamenamenamename

In [9]:
def multiply_2(y,x):
    product = y*x
    return print(product)

In [11]:
multiply(2,3)

6

In [21]:
def multiply_3(y,x,z=10): # This function is used to multiply
    product = y*x*z
    return print(product)

In [13]:
multiply_3(1,2)

20

In [15]:
multiply_3(3,5,20)

300

In [23]:
def addition(a,b,c,d,e = 5):
    return (a+b+c+d)-e

In [27]:
addition(1,2,3,4,5)

5

In [26]:
addition(1,2,3,4,10)

0

In [28]:
# Lambda

def func(x):
    return x**2

#or

lambda x:x**2

In [35]:
data

  Name  Age  Key2
0    a    1     9
1    b    2     8
2    c    3     7
3    d    4     6
4    e    5     5

In [40]:
data['Age']

0    1
1    2
2    3
3    4
4    5
Name: Age, dtype: int64

In [42]:
data['Age'].apply(multiply_simple)

0     3
1     6
2     9
3    12
4    15
Name: Age, dtype: int64

In [37]:
data['Age'].apply(lambda x:x*2)

0     2
1     4
2     6
3     8
4    10
Name: Age, dtype: int64

In [44]:
# Map function

list1 = [1,2,3,4,5]

In [19]:
def func(x):
    return x*5

In [58]:
list({1,2,3,4})

[1, 2, 3, 4]

In [49]:
list1*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [51]:
name*5

'NaveenNaveenNaveenNaveenNaveen'

In [60]:
map(func, list1)

In [61]:
list1

[1, 2, 3, 4, 5]

In [64]:
for x in list1:
    print(func(x))

5
10
15
20
25

In [65]:
list(map(func,list1))

[5, 10, 15, 20, 25]

In [66]:
data['Gender'] = ['male', 'female', 'male', 'male', 'female']

In [67]:
data

  Name  Age  Key2  Gender
0    a    1     9    male
1    b    2     8  female
2    c    3     7    male
3    d    4     6    male
4    e    5     5  female

In [74]:
map({'male':1, 'female':0}, data['Gender'])

In [77]:
data['Gender1'] = data['Gender'].map({'male':1, 'female':0})

In [ ]:
{'male':1, 'female':0} -> Function

In [71]:
data['Gender']

0      male
1    female
2      male
3      male
4    female
Name: Gender, dtype: object

In [78]:
data

  Name  Age  Key2  Gender  Gender1
0    a    1     9    male        1
1    b    2     8  female        0
2    c    3     7    male        1
3    d    4     6    male        1
4    e    5     5  female        0

In [3]:
x = list(range(10))

In [4]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
output = []
for item in x:
    output.append(x*2)

In [27]:
output

[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [14]:
list(item*2 for item in x)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [15]:
tuple(item*2 for item in x)

(0, 2, 4, 6, 8, 10, 12, 14, 16, 18)

In [16]:
set(item*2 for item in x)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18}

In [18]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
list(map(func, x))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [33]:
10%5

0

In [35]:
11%2

1

In [37]:
5%2 == 0

False

In [44]:
list(filter(lambda item:item%2 == 0,x))

[0, 2, 4, 6, 8]

In [43]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
d = {'key1':[[1,2,3,4,5], [{'Target':'answer'}]]}

In [51]:
print(d['key1'][1][0]['Target'])

answer

In [52]:
list2 = [(1,2), (3,4), (5,6)]

In [53]:
list2[0][1]

2

In [74]:
x = [(6,7)]

In [75]:
for (a,b) in x:
    print(b)

7

In [79]:
a = list(range(5))

In [106]:
a = 'Hello I am Naveen'

In [86]:
a.lower()

'hello i am naveen'

In [87]:
a.upper()

'HELLO I AM NAVEEN'

In [88]:
a.split()

['Hello', 'I', 'am', 'Naveen']

In [89]:
tweet = 'Today was great #Happiness #Wonderfullife'

In [96]:
tweet.split('#')

['Today was great ', 'Happiness ', 'Wonderfullife']

In [97]:
tweet.split('#')[1:]

['Happiness ', 'Wonderfullife']

In [108]:
a

'Hello I am Naveen'

In [107]:
a.replace('Naveen', 'Manoj')

'Hello I am Manoj'

In [109]:
a = a.replace('Naveen', 'Manoj')

In [110]:
a

'Hello I am Manoj'

In [112]:
a = 'hi'
b = 'Hello'

In [117]:
a + b

'hiHello'

In [118]:
a + ' ' + b

'hi Hello'

In [115]:
c = a +' '+ b

In [116]:
print(c)

hi Hello

In [120]:
a = 'Naveen'

In [121]:
print('Hello I am {}'.format(a))

Hello I am Naveen

In [122]:
x = ['Naveen', 'Manoj', 'Sarah', 'Joe']

In [123]:
for i in x:
    print("Hello, I'am {}".format(i))

Hello, I'am Naveen
Hello, I'am Manoj
Hello, I'am Sarah
Hello, I'am Joe